<html>
    <head>
    </head>
    <body>
      <nk-window style="top:5%; left:5%;" title="first window">
       <nk-hotkey-list></nk-hotkey-list>
      </nk-window>
       <nk-window title="second window">
       <nk-icon  size="lg" name="plus" >icon not working</nk-icon>
        <s-button label="hey"></s-button>
      </nk-window>

    </body>
</html>