<html>
    <head>

        <style>
            #first{

                position:absolute;
                top: 10%;
                left:5%;
                -height: 300px;
                width:900px;
            }
            #second{

                position:absolute;
                top: 40%;
                left:60%;
                height: 300px;
                width:900px;
            }

            #third{
    border:2px solid black;
                position:absolute;
                top: 56%;
                left:60%;
                height: 300px;
                width:900px;
            }


        </style>


        <script>
            function addHotkeyListener()
            {
                NKCore.addHotkeys("action","ctrl+shift+space",console.warn)


                var hkList=document.querySelector("nk-hotkey-list")


                hkList.addHotkeys("open dialog", "ctrl+space", function(){

                    document.body.append(document.createElement("nk-window"))
                  //TODO below should work also.. or so it seems
                    /*document.querySelector("body").insertAdjacentHTML("beforeend",`
                    <nk-window id="third" title="first window">
                     <nk-hotkey-list></nk-hotkey-list>
                     </nk-window>
                  `)*/
                })

                hkList.addHotkeys("do something else", "ctrl+space", function(){
                    alert("bla")
                })



                var l=document.querySelector("#first")
                //l.insertAdjacentHTML("afterend", "<nk-hotkey-list></nk-hotkey-list>")

                l.innerHTML="<nk-hotkey-list></nk-hotkey-list>"



            }


        </script>

    </head>
    <body>
      <nk-window id="first" title="first window">
       <nk-hotkey-list></nk-hotkey-list>
      </nk-window>

       <nk-window id="second"  title="second window">

        <s-button label="addHotkeyListener" onclick="addHotkeyListener()"></s-button>

      </nk-window>

    </body>
</html>