
.list {
    /*display: table;*/
}
 

.section {
    display: table;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;

}
.section > legend{
    font-size:75%;

}

.rowHeader {
    font-size: 75%;
}

.row {
    display: table-row;
    margin-bottom: 0.1em;
}

.row > * {
    display: table-cell;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-bottom: 0.1em;
}

.row .inputWrapper > input:focus {
    -webkit-box-shadow: 0.1em 0.1em 0.1em 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0.1em 0.1em 0.1em 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0.1em 0.1em 0.1em 0px rgba(0, 0, 0, 0.75);

}

.error {
    background-color: red;
    text-decoration: line-through;

}

.row > .description {
    font-size: 50%;
    vertical-align:top;


}

.row > .description:hover {
    font-size: 90%;


}
.row > .action {
    white-space: nowrap;
}

/*
.row > input {
    display: table-cell;

    margin-right:0.5em;

}
*/

.inputIcon{
    position: absolute;
    left: 0em;
    top: calc(50% - 0.5em);
}
.row .inputWrapper > input{
    padding-left: 1.5em !important;


    border: 0px;
    width: 7em;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 0.1em;

}
.inputWrapper{
    position: relative;
}

.row:hover .addEntry
{
    visibility: visible;
}


.row .addEntry
{
    visibility:hidden;

}
