
/* a local scope would be nice but :host seems not to work atm. */
nk-window
{
    background-color: #f8f8ff99;

    min-width: 80px;
    min-height: 45px;


}

.window {

    border: 0px solid white;

    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100%;
    grid-template-rows: 1.5em auto;
    grid-template-areas: "header" "content";

    height: 100% !important; /*guarantees that the height will fill the container*/


}

/*
.window:focus .body ,*/

.hidden {
    /* visibility: hidden; */
    display:none;

}

.maximized
{
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
}

[focused] .body {

    -webkit-box-shadow: inset 0px 0px 0px 1px lightgrey;
    -moz-box-shadow: inset 0px 0px 0px 1px lightgrey;
    box-shadow: inset 0px 0px 0px 1px lightgrey;
    /*   -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
       -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
       box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);*/

}

.head {

    grid-area: header;

    color: white;
    background-color: slateblue;
    border: 0;
    padding: 0.3em;
    font-weight: bold;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */

/* to keep icon bar in place */
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-between;
    word-break: break-all;

}

.body {
    position:relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    grid-area: content;

    border: 0;
    padding: 0.3em;
    /*overflow:auto;*/
}

.headIcons {
    background-color: transparent;
    border: 0;
   /* float: right;*/
    white-space: nowrap;

}

.headIcons > * {
    margin-left: 0.2em;
    margin-top: 0.1em;
   /* min-height: 1.2em;
    min-width: 1.2em;
    max-height: 1.2em;
    max-width: 1.2em;
    font-size: 0.8em; */
    display: inline-block;

}

.iconMaximize {
    background-color: blue;

}

.iconMinimize {
    background-color: yellow;

}

.iconClose {
    background-color: red;

}

