
.window{

    border:0px solid white;

    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100%;
    grid-template-rows: 1.5em auto;
    grid-template-areas:
            "header"
            "content";

    height:100% !important; /*guarantees that the height will fill the container*/

}

/*
.window:focus .body ,*/

.hidden
{
    visibility: hidden;

}

[focused] .body

{


    -webkit-box-shadow:inset 0px 0px 0px 1px lightgrey;
    -moz-box-shadow:inset 0px 0px 0px 1px lightgrey;
    box-shadow:inset 0px 0px 0px 1px lightgrey;
 /*   -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);*/

}

.head {

    grid-area: header;

    color:white;
    background-color: slateblue;
    border:0;
    -height:1em;
    padding:0.3em;
    font-weight: bold;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

.body {


    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    grid-area: content;

    background-color: ghostwhite;
    border:0;
    padding:0.3em;
}


.headIcons {
    background-color: transparent;
    border:0;
    float: right;
}

.headIcons *{
 margin:0.1em;
    min-height:1em;
    min-width:1em;
    max-height:1em;
    max-width:1em;
    display: inline-block;
}



.iconMaximize {
    background-color: blue;

}

.iconMinimize {
    background-color: yellow;

}

.iconClose {
    background-color: red;

}

